[submodule "flexbe_app"]
	path = flexbe_app
	url = https://github.com/FlexBE/flexbe_app.git
[submodule "rise-robotiq"]
	path = rise-robotiq
	url = https://github.com/rise-lab-skku/rise-robotiq
	branch = noetic-devel
